<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <title>{%block title %}{%endblock%}</title>
    {% block style %} {% endblock %}
    
    <style>
      .navbar {
        padding-left: 9rem;
      }
      </style>
      <!-- For Icons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body onload="loader_true()">

  <!-- Adding Nav Var -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Haxplore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-3 me-3">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ms-3 me-3">
            <a class="nav-link" href="/online_darshan">Online Darshan</a>
          </li>
          <li class="nav-item dropdown ms-3 me-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Live Status
            </a>
            <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Current visitor count</a></li>
              <li><a class="dropdown-item" href="#">Estimated Waiting Time</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto me-5">
          <li class="nav-item ">
            <a type="button" class="btn btn-dark btn-outline-light ms-1 me-1" href="/signup">Sign Up</a>
            <a type="button" class="btn btn-dark btn-outline-light ms-1 me-1" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Adding flashed messages -->
  {% with message = get_flashed_messages()[-1] %}
  {% if message %}
  <ul class=flashes>
    {%if message[0] == "error"%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message[1]}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {%if message[0] == "good"%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message[1]}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  </ul>
  {% endif %}
  {% endwith %}

  <!-- Adding body -->
  {%block body%}
  {%endblock%}

  <!-- loader -->
  <div id="preloader"></div>

  <!--Bootstrap JS with Popper.js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>


<!-- Adding Custom Scripts -->
{%block script%}
{%endblock%}

<!-- Adding loader -->
<script>
    function loader_true() {
      var loader = document.getElementById("preloader");
      loader.style.display = "none";
    }
</script>

</html>